*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    /* display: inline; */
    position: relative;
    /* top:50px; */
    font-size: 50px;
}

h2::before{
    content: "WELCOME TO AALU CROSS WORLD";
    border-right: 5px solid red;
    animation: mover 3s linear infinite alternate;
    position: absolute;
    left: 0%;
    top: 0%; 
    color: red;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
    
    
}

@keyframes mover{
    
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }

}

#main{
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#box{
    height: 450px;
    width: 450px;
    background-color: aqua;
    border-radius: 20px;
    position: relative;

}

.btn{
    height: 150px;
    width: 150px;
    background-color: rgb(212, 215, 217)  !important;
    font-size: 70px;
  
       
}

.btn1{
    position: absolute;
    border-left: none;
    border-top: none;
}
.btn2{
    position: absolute;
    
    border-top: none;
    left: 150px;
}

.btn3{
    position: absolute;
    border-right: none;
    border-top: none;
    left: 300px;
}

.btn4{
    position: absolute;
    border-left: none;
    
    top: 150px;
    left: 0;
}

.btn5{
    position: absolute;
  
    top: 150px;
    left: 150px;
}

.btn6{
    position: absolute;
    border-right: none;
    
    top: 150px;
    left: 300px;
}

.btn7{
    position: absolute;
    border-left: none;
    border-bottom: none;
    top: 300px;
    left: 0;
}

.btn8{
    position: absolute;

    border-bottom: none;
    top: 300px;
    left: 150px;
}

.btn9{
    position: absolute;
    border-right: none;
    border-bottom: none;
    top: 300px;
    left: 300px;
}

#rowline1{

    
    width: 400px;
    position: absolute;
    top: 70px;
    left: 25px;
    z-index: 2;
}

#rowline2{

  
    width: 400px;
    position: absolute;
    top: 220px;
    z-index: 2;
    left: 25px;
}

#rowline3{

    
    width: 400px;
    position: absolute;
    top: 370px;
    z-index: 2;
    left: 25px;
}

#columnline1{
    
    height: 400px;
    position: absolute;
    z-index: 2;
    left: 72px;
    top: 25px;
}


#columnline2{
    
    height: 400px;
    position: absolute;
    z-index: 2;
    left: 222px;
    top: 25px;
}


#columnline3{
   
    height: 400px;
    position: absolute;
    z-index: 2;
    left: 372px;
    top: 25px;
}

#diagonalline1{

  
    height: 550px;
    position: absolute;
    z-index: 2;
    left: 222px;
    top: -50px;
    rotate: -45deg;

}

#diagonalline2{

    
    height: 550px;
    position: absolute;
    z-index: 2;
    left: 222px;
    top: -50px;
    rotate: 45deg;

}

#restart{
    
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: greenyellow;
    color: rgb(100, 95, 95);
    font-weight: bold;
    /* position: absolute; */
    top: 650px;
    left: 730px;
}

@media only screen and (max-width: 892px) {

    h2{
        
        font-size: 30px;
    }


 
    

    
}

@media only screen and (max-width: 535px) {

    h2{
        
        font-size: 20px;
    }

    
}